<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<nav th:fragment="top-navbar" ng-controller="MenuCtrl as menu"
     class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" ui-sref="default" name="default">AsierG</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ng-class="{active: menu.isActive('home')}">
                <a class="nav-link" ui-sref="default" name="default">Home</a>
            </li>
            <li class="nav-item" ng-class="{active: menu.isActive('discover')}">
                <a class="nav-link" ui-sref="discover" name="discover">Discover</a>
            </li>
        </ul>
    </div>
</nav>
</body>

</html>