<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STD_FILE" class="ch.qos.logback.core.FileAppender">
        <file>C:/asierg.log</file>
        <encoder>
            <pattern>%date %level [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AUDIT_FILE" class="ch.qos.logback.core.FileAppender">
        <file>C:/asier/asierg_audit.log</file>
        <encoder>
            <pattern>%date %level [%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.asierg.multimodule" level="info">
        <appender-ref ref="STD_FILE" />
    </logger>

    <logger name="audit-log" level="info">
        <appender-ref ref="AUDIT_FILE" />
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>